<h1>Página de autenticação</h1>
<div>
    <form action="/usuarios/login" method="post" class="form">
        <label for="email">Email:</label><input type="email" name="email" placeholder="Insira seu e-mail">
        <label for="senha">Senha: </label><input type="password" name="senha" placeholder="Insira sua senha">
        <button type="submit">Entrar</button>
    </form>
</div>