{{#each erros}}<div class="alert alert-danger">{{texto}}</div>{{/each}}
<h1>Cria sua conta hoje:</h1>
<div>
    <form action="" method="post" class="form">
        <label for="nome">Nome: </label><input type="text" name="nome" placeholder="Insira seu nome">
        <label for="email">Email: </label><input type="email" name="email" placeholder="Insira um email">
        <label for="senha">Senha: </label><input type="password" name="senha" placeholder="Insira uma senha">
        <label for="senha2">Repita sua Senha:</label><input type="password" name="senha2" placeholder="Repita sua senha">
        <button type="submit">Criar conta</button>
    </form>
</div>